
.book-list-item {
  text-align: center;
  padding: 20px;
  border: 1px solid lightGrey;
  font-size: 15px;
  margin-bottom: 32px;
  height: calc(100% - 32px);
  box-sizing: border-box;

  .book-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .book-price {
    color: darkgray;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .book-cover {
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.08);

    img {
      max-width: 100%;
      max-height: 300px;
    }
  }
}