@import "vars";

#cart-page {

  .item {
    display: flex;
    margin-bottom: 20px;

    img {
      width: 130px;
      margin-right: 20px;
    }

    .price {
      margin-bottom: 20px;
    }
  }

  .total-container {
    border-left: 1px solid $primary-color;
    padding-left: 20px;
    height: 100%;

    .total-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: bold;
    }
  }

  button {
    margin-top: 20px;
  }
}
