@import "vars";
@import "BookListItem";
@import "Cart";
@import "flexboxgrid.css";

body {
  padding: 30px;
}

a {
  color: $primary-color;
}

hr {
  border-top: 0;
  border-color: $primary-color;
  margin: 20px 0;
}

button {
  background-color: #fff;
  border: 1px solid $primary-color;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;

  &.block {
    display: block;
    width: 100%;
  }

  &:hover {
    background-color: $primary-color;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: inline-block;
    list-style-type: none;
  }
}

.app-name {
  font-size: 42px;
  text-align: center;
  display: inline-block;
}